

@media only screen and (max-width: 1880px){


}


@media only screen and (max-width: 1800px){

 

}

@media only screen and (max-width: 1700px){
    header .header-padding {
        padding: 0px 60px;
    }
    .home-why-choose-us .content-area ul li {
        font-size: 20px;
    }
}



@media only screen and (max-width: 1600px){
    .satisfied-clients .testimonials-area .item {
        padding: 40px 30px;
    }
    .title-area .content-area {
        padding: 100px 0px;
    }


    .home-faqs .accordion .accordion-item {
        padding: 25px 20px;

    }
    .home-testimonials .owl-carousel .item {
        padding: 50px 30px;

    }

    .product-sucess .content-area .tab-content .tab-pane .content h3 {
        font-size: 40px;

    }

    .home-value .content-area .items-area .item {
        padding: 40px;
    }
    .home-value .content-area .items-area .item h3 {
        font-size: 28px;
    }
    h1 {
        font-weight: 700;
        font-size: 60px;
    }
    .home-banner .content-area h2 {
        font-size: 30px;

    }
    .home-banner .content-area {
        padding: 152px 0px;
    }
    .section h2 {
        font-size: 55px;
    }
    .section-padding {
        padding: 0px 100px;
    }
    header .navbar-brand img {
        width: 220px;

    }
    .navbar-nav>li {
        font-size: 18px;
    }

    header .header-padding {
        padding: 0px 40px;
    }
    .unlock-potential .item .content-area {
        padding: 80px 0px;
    }
}



@media only screen and (max-width: 1500px){
    .home-why-choose-us .content-area ul li img {
        margin-right: 15px;
  
    }
    footer p br {
       display: none;
    }
 
}


@media only screen and (max-width: 1484px){
 
}


@media only screen and (max-width: 1400px){
    .satisfied-clients .testimonials-area .item {
        padding: 40px 20px;
    }
    .satisfied-clients .testimonials-area .item .content .user .content-lower p.name {
        font-size: 20px;
    }
    .title-area .content-area {
        padding: 80px 0px;
    }
    .accordion-button {
        font-size: 20px;

    }
    .home-faqs .accordion .accordion-item {
        padding: 25px 15px;

    }

    .product-sucess .content-area .tab-content .tab-pane .content h3 {
        font-size: 35px;
    }

    .home-value .content-area .items-area .item {
        padding: 40px 20px;
    }

    .home-value .content-area .items-area .item h3 {
        font-size: 25px;
    }
    .section-padding {
        padding: 0px 50px;
    }
    .navbar-nav>li {
        padding: 20px 12px;
    }

    header .header-padding {
        padding: 0px 15px;
    }

    h1 {
        font-weight: 700;
        font-size: 55px;
    }
    .home-banner .content-area h2 {
        font-size: 28px;
    }
    .section h2 {
        font-size: 50px;
    }
    .btn-second {
        padding: 15px 20px;

    }
    .btn {
        padding: 15px 20px;

    }
    .home-testimonials .owl-carousel .item .content .user .content-lower p.name {
        font-size: 20px;

    }
    .home-testimonials .owl-carousel .item {
        padding: 30px 20px;
        margin-right: 15px;
    }
    .main .login-signup .bg-with-image .image-area img {
        width: 75%;
        margin-left: 40px;
    }
}


@media only screen and (max-width: 1320px){

}



@media only screen and (max-width: 1300px){
    .home-why-choose-us .content-area ul li {
        width: 100%;
    }
  
}

@media only screen and (max-width: 1250px){
    
}


@media only screen and (max-width: 1200px){
    footer .main-footer .logo-area img.logo {
        width: 230px;
    }
    .product-sucess .content-area .tab-content .tab-pane .content h3 {
        font-size: 30px;
    }
    .section-padding {
        padding: 0px 30px;
    }
    header ul.nav-right {
        display: none;
    }
    header ul.nav-right .btn-sign-up {
        display: none;
    }
    .home-banner .content-area {
        padding: 130px 0px;
    }
    h1 {
        font-size: 50px;
    }
    .home-banner .content-area h2 {
        font-size: 26px;
    }
    .section h2 {
        font-size: 40px;
    }

    .home-about-us .content-area p br{
        display: none;
    }
    .home-value .content-area .items-area .item {
        padding: 30px 20px;
    }
    .connect-with-us .form-area h3 {
        font-size: 32px;
    }
}

@media only screen and (max-width: 1160px){
  
}

@media only screen and (max-width: 1100px){
  
}


@media only screen and (max-width: 1050px){
    
 
}


@media only screen and (max-width: 992px){
    .login-signup .login-signup-area.login {
        margin-top: 130px;
    }
    .login-signup .login-signup-area img.logo {
        width: 230px;
    }
    .login-signup .login-signup-area {
        background-color: #FFFFFF;
        width: 100%;
    }
    .login-signup .bg-with-image{
        display: none;
    }
    .privacy-policy .content-area h3 {
        font-size: 26px;
        margin: 30px 0px 30px 0px;
    }
    .privacy-policy .content-area p.date {
        font-size: 20px;
    }
    .satisfied-clients .testimonials-area .item .content .user .content-lower{
        text-align: left;
    }
    .satisfied-clients .testimonials-area .item .content .user .content-lower p.name {
        font-size: 18px;
    }
    .satisfied-clients .testimonials-area .item {
        padding: 30px 15px;
    }

    .satisfied-clients .testimonials-area .item .content .user {
        margin-top: 30px;
        justify-content: center;
    }

    .connect-with-us .form-area h3 {
        font-size: 25px;
    }
    .title-area {
        padding-top: 70px;
    }
    .home-faqs.contact-faqs .accordion-button {
        font-size: 20px;

    }
    .home-faqs.contact-faqs .accordion .accordion-item {
        padding: 20px 15px;

    }
    .title-area .content-area p br{
       display: none;
    }
    .connect-with-us ul.contact li img {
       display: none;
    }
    .accordion-body p{
        text-align: left;
    }
    .home-why-choose-us .content-area{
        margin-top: 40px;
    }
    .home-why-choose-us .content-area ul li {
        width: 48%;
    }
    .home-value .content-area {
        padding: 60px 0px;
    }
    .home-value .content-area .items-area .item {
        padding: 30px 15px;
        margin-bottom: 30px;
    }
    .home-value {
        background: none;
        background-color: #F5F5F5;
        margin-top: 60px;
    }
    header .navbar{
        padding: 20px 0px;
    }
    .home-banner {
        padding-top: 50px;
    }
    h1 {
        font-size: 45px;
    }
    .home-banner .content-area h2 {
        font-size: 22px;
    }
    .home-banner .content-area p br{
        display: none;
    }

    .home-about-us .image-area img{
        margin-top: 40px;
    }
    .section {
        padding-top: 60px;
        text-align: center;
    }
    .section h2 {
        font-size: 35px;
    }

    .product-sucess .content-area .tab-content .tab-pane .content {
        text-align: center;
    }
    .product-sucess .content-area .tab-content .tab-pane .content h3 br{
        display: none;
    }

    .product-sucess .content-area .tab-content .tab-pane .content h3 {
        font-size: 25px;
    }
    .product-sucess .content-area .tab-content .tab-pane .image-area img{
        margin-top: 40px;
    }
    .home-testimonials .owl-carousel .owl-nav {
        display: none;
    }
    .home-testimonials .owl-carousel .item {
        padding: 30px 15px;
        margin-right: 0px;
    }
    .home-testimonials .owl-carousel .item img.quote {
        width: 44px;
        margin: 0px auto 30px auto;
    }
    .home-testimonials .owl-carousel .item .content .user {
        margin-top: 30px;
        justify-content: center;
    }
    .home-testimonials .content-area {
        padding: 60px 0px;
    }

   footer{
    text-align: center;
   }
   footer .main-footer .logo-area ul.social {
    justify-content: center;
}
footer .main-footer ul.links li {
    width: 100%;
}
footer .main-footer {
    padding: 50px 0px 50px 0px;
}
footer .main-footer .logo-area p {
    width: 100%;
}
.unlock-potential .item .content-area {
    padding: 60px 0px;
}
}



@media only screen and (max-width: 768px){

    .connect-with-us p br{
        display: none;
    }
    .connect-with-us ul.contact li {
        font-size: 18px;

    }
    .home-faqs.contact-faqs .accordion-button {
        font-size: 18px;
    }
    h1 {
        font-size: 40px;
    }
    .section h2 {
        font-size: 30px;
    }
    .home-value .content-area .items-area .item h3 {
        font-size: 22px;
    }
    
.home-our-process .mobile-process{
    display: block;
  }
  .home-our-process .process-area{
    display: none;
  }
  .home-why-choose-us .content-area ul li {
    width: 100%;
}
}


@media only screen and (max-width: 650px){
    
    .product-sucess .content-area .nav-tabs {
        width: 100%;
        background-color: transparent;
    }
}

@media only screen and (max-width: 600px){
    h1 {
        font-size: 35px;
    }
    .section h2 {
        font-size: 26px;
    }
    .section h2 span {
        font-size: 22px;
    }
    .home-value .content-area .items-area .item h3 {
        font-size: 20px;
    }
    .home-our-process .mobile-process .item h3 {
        font-size: 20px;
        font-weight: 700;
    }
    footer .main-footer h4 {
        font-size: 20px;
    }
   
}


@media only screen and (max-width: 500px){
    h1 {
        font-size: 30px;
    }
    .home-banner .content-area h2 {
        font-size: 20px;
    }
    p, li {
        font-size: 17px;
    }
    footer .copyright .content span {
        font-size: 16px;
    }
    .title-area .content-area h1 br{
    display: none;
    }

}


@media only screen and (max-width: 460px){
    
}


@media only screen and (max-width: 430px){
   
}


@media only screen and (max-width: 400px){

   
}


@media only screen and (max-width: 380px){
    
}



@media only screen and (max-width: 360px){
    
}



@media (max-width: 992px) {


    /* style mobile nav */

    .section-padding {
        padding: 0px 15px;
    }

    .section {
        text-align: center;
    }


    header.sticky-mobile{
        background: #fff;
        box-shadow: 0px 2px 30px rgba(0 0 0 / 20%);
    }

    header .navbar-brand {
        padding: 0px;
    }

    header .navbar ul {
        margin-top: 10px;
        display: block;
    }

    header .navbar ul li {
        margin-top: 0px;
        padding: 0px 10px;
    }

    .main-nav .navbar-nav>li {
        padding: 0px 15px;
        padding: 4px 15px;
    }

    .navbar-nav .nav-item.phone {
        display: none;
    }

    .navbar-header {
        float: none;
    }

    .dropdown .icon:before {
        font-family: 'FontAwesome';
        content: "\f0fe";
        color: #000;
        font-style: initial;
        font-size: 26px;
    }

    .navbar-left,
    .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid #8B0A1C;
        background-color: #fff;
        margin-top: 8px;
    }

    .navbar-nav .nav-item .nav-link {
        color: #000;
        font-size: 18px;
    }

    .main-nav .navbar-right {
        margin: 10px 0px;
        font-size: 14px;
    }

    .main-nav .navbar-nav>li>a {
        color: #fff;
    }

    .main-nav .navbar-nav .open .dropdown-menu>li>a {
        color: #000;
    }

    .main-nav .navbar-nav>.open>a,
    .main-nav .navbar-nav>.open>a:hover,
    .main-nav .navbar-nav>.open>a:focus {
        color: #fff;
        background-color: transparent;
    }

    .main-nav .navbar-collapse {
        border-color: #f0f0f0;
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

    .navbar-nav>li {
        float: none;
    }

    .navbar-nav>li>a {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .collapse.in {
        display: block !important;
    }


    footer .main-footer .content-logo {
        text-align: center;
    }

    footer .main-footer .links-area {
        text-align: center;
    }

    footer .copyright-area .reach-logo {
        width: 150px;
        margin-top: 20px;
    }

    footer .copyright .content {
        display: grid;
        justify-content: center;
    }

    footer .copyright {
        text-align: center;
    }



    .navbar .nav-item .dropdown-menu{ 

        display: none;

     }

	.navbar .nav-item:hover .dropdown-menu{ 

        display: block; 

    }

    .navbar .nav-item .dropdown-menu {
        margin-top: 5px;
    }


    .navbar-expand-xl .navbar-nav .dropdown-menu{

        border: none !important;

    }


    .dropdown-toggle::after{

        display: none;

    }


    .dropdown .icon{

        display: block;

        position: absolute;

        right: 15px;

        top: 14px;

    }


    .dropdown .icon:before{

        font-family: 'FontAwesome';

        content: "\f0fe";

        color: #000;

        font-style: initial;

        font-size: 26px;

    }

    .dropdown .open.icon:before {

        content: "\f146";

    }

    .dropdown-submenu .sub-menu{
        position: unset !important;
        right: unset !important;
        z-index: unset !important;
        top: unset !important;
      }
}